<%= form_with(model: chore, class: "contents") do |form| %>
  <% if chore.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(chore.errors.count, "error") %> prohibited this chore from being saved:</h2>

      <ul class="list-disc ml-6">
        <% chore.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": chore.errors[:name].none?, "border-red-400 focus:outline-red-600": chore.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :schedule %>
    <%= form.textarea :schedule, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": chore.errors[:schedule].none?, "border-red-400 focus:outline-red-600": chore.errors[:schedule].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :household_id %>
    <%= form.text_field :household_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": chore.errors[:household_id].none?, "border-red-400 focus:outline-red-600": chore.errors[:household_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
